@model RepriseMyProducks.ViewModels.StoreVM

@{
    ViewBag.Title = "Store Products";
}

<h2>Store Products</h2>

@using (Html.BeginForm("Index", "Store", FormMethod.Post))
{
    <div class="row bottom">
        <div class="col-xs-12" style="margin-bottom: 15px;">
            <span style="font-weight: bold; margin-right: 5px;">Category</span>
            @Html.DropDownListFor(model => model.SelectedCategoryId, Model.CategoryList, "-- Select a Category --", new { Name = "CategoryFilter", @onchange = "this.form.submit()", @style = "padding: 6px 12px" })
            <span style="font-weight: bold; margin-left: 10px; margin-right: 5px;">Brand</span>
            @Html.DropDownListFor(model => model.SelectedBrandId, Model.BrandList, "-- Select a Brand --", new { Name = "BrandFilter", @onchange = "this.form.submit()", @style = "padding: 6px 12px" })
        </div>
    </div>
    <hr />
    <table class="table table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].StockLevel)
            </th>
        </tr>

        @foreach (var item in Model.Products)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StockLevel)
                </td>
            </tr>
        }

    </table>
}