@model IEnumerable<RepriseMyProducks.ViewModels.StoreMainPage>

@{
    ViewBag.Title = "Store Categories";
}

<h2>Index</h2>

@*<div class="row">
    @Html.DropDownListFor(model => model.WeightCategoryId,
                      new SelectList(Model.WeightCategories, "WeightCategoryId", "Name",
                                     Model.WeightCategories.First().WeightCategoryId))
</div>*@

<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StoreProducts.SingleOrDefault().Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StoreProducts.Single().Description)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StoreProducts.)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Products", "ProductsByCategory", new { id = item.Id })
            </td>
        </tr>
    }

</table>
