@model IEnumerable<RepriseMyProducks.ViewModels.ProductByCategory>

@{
    ViewBag.Title = "Store Products";
}

<h2>Store Products</h2>

@using (Html.BeginForm("Index", "Store", FormMethod.Post))
{
    <div class="row bottom">
        <div class="col-xs-12" style="margin-bottom: 15px;">
            <span style="font-weight: bold; margin-right: 5px;">Category</span>
            @Html.DropDownList("SelectedCategoryId", (IEnumerable<SelectListItem>)ViewBag.Categories, "Select a Category", new { Name = "CategoryFilter", @style = "padding: 6px 12px" })

            <span style="font-weight: bold; margin-left: 10px; margin-right: 5px;">Brand</span>
            @Html.DropDownList("SelectedBrandId", (IEnumerable<SelectListItem>)ViewBag.Brands, "Select a Brand", new { Name = "BrandFilter" , @style = "padding: 6px 12px" })

            <button type="submit" class="btn btn-success" style="float: right; width: 80px !important;">Filter</button>
        </div>
    </div>

    <table class="table table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockLevel)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StockLevel)
                </td>
            </tr>
        }

    </table>
}